# VS Code specific files
.vscode/
*.code-workspace
.history/

# Common development hidden directories
.DS_Store
.env
.env.local
.cache/
.temp/
.tmp/
*.cache
*.m4
*.sh/
*.o
*.lo
*.a
*.Plo
*.Po
*.nsi
*.plist
*.in
*.dirstamp
*.la
*.guess
*.sub
*.so
*.so*
*.lai
lynxd
lynx-cli
lynx-util
lynx-tx
lynx-wallet
Makefile


src/config/stamp-h1
src/test/fuzz/fuzz
libbitcoinconsensus.pc
contrib/devtools/split-debug.sh
build-aux/ltmain.sh
config.log
config.status
configure
libtool
src/config/bitcoin-config.h
src/obj/build.h
test/config.ini
